header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
main {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}
main > h1{
font-size: 28px;
text-align: center;
color: blue;
}

main > .isi{
  background: white;
  margin: 4px;
}

.isi > p{
font-size: 16px;
  color: green;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
