html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Century Gothic";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container{
  width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper{
  padding: 150px 0px;
  background-image: url(img/rumbling.jpg);
  background-size: cover;
  color: #5f5d60;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.instagram {
  background-color: #5f5d60;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 5px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 3px;
}

header{
  height: 50px;
  width: 100%;
  background-color: rgba(46, 50, 51, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-left{
 text-align: center; 
 color: white;
 font-size: 32px;
}

.team-wrapper{
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading{
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.team{
  float: left;
  width: 20%;
}

.team h6{
  color: #5f5d60;
  padding-bottom: 15px; 
}

.team p{
  color: #5f5d60;
  font-size: 14px;
  padding-bottom: 5px;
}

.team-icon{
  position: relative;
}

.team-icon p{
  position: absolute;
  top: 90px;
  width: 100%;
  color: white;
}

.team-icon img{
  margin: 0px;
  border: 5px solid #5f5d60;
  border-radius: 100%;
}

.txt-contents{
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #b3aeb5;
}

footer{
  padding-top: 20px;
  height: 40px;
  background-color: #5f5d60;
}

footer p{ 
  width: 500px;
  text-align: center;
  color: white;
  font-size: 15px;
}

.footer-container p{
  position: relative;
  animation-name: move;
  animation-duration: 25s;
  animation-iteration-count: 10;
  /* animation-timing-function: ease; */
  animation-delay: 1s;
}

@keyframes move{
  0% {left: 0px; right: 0px;}
  25% {left: 965px; right: 0px;}
  50% {left: 0px; right: 965px;}
  75% {left: 965px;right: 0px;}
  100% {left: 0px; right: 965px;}
}